*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: cadetblue;
}

.container{
    background-color: white;
    min-height: 45vh;
    width: 40vh;
    border-radius: 1.5rem;
    padding: 2rem;
    
}

h3{
    text-align: center;
}

form{
    margin: 1rem 0rem 1rem 0rem ;
}

form input,select,button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

form input{
    min-height: 2rem;
    background-color: rgb(239, 239, 239);
    padding-left: 0.5rem;
    font-size: medium;
    margin-bottom: 1rem;
}

.curency{
    display: flex;
    justify-content: space-between;
}

.curency img{
    max-width: 1.7rem;
}

.select{
    display: flex;
    border-radius: 0.8rem;
    margin: 1rem 0rem;
    padding: 0.1rem;
    border: 1px solid lightgray;
}

.curency i{
    margin-top: 2.5rem;
}

.msg{
    text-align: center;
    font-size: large;
    margin: 1.5rem;
}

form button{
    padding: 1rem;
    background-color:rgb(207, 237, 186);
    font-size:1rem;
    color: rgb(163, 25, 29);
    cursor: pointer;
}